* {
  margin: 0;
}
header {
  background-color: antiquewhite;
}
/* navbar section start-*/

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.page-name {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: 700;
}
ul.page-options {
  list-style: none;
  display: flex;
  gap: 64px;
}
ul.page-options li a {
  text-decoration: none;
  color: black;
}
/* navbar section end */

#header-description {
  text-align: center;
  padding: 65px 0;
}
#header-description div {
  margin: 0 0 35px 0;
}
#header-description h1 {
  font-size: 40px;
}

.text {
  color: #727272;
  padding: 15px 0;
}
.primary-btn {
  color: white;
  background-color: #ff900e;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#header-description img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 550px;
}
#container {
  margin: 0 80px;
}
/* feature details start */
.feature-details {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  margin: 50px 0;
}
.img-sec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.feature-details .img-sec img {
  width: 342px;
  height: 342px;
  border-radius: 5px;
}
.feature-details h1 {
  font-size: 35px;
}
.quick-list {
  color: gray;
}
.features {
  color: #ff900e;
}
/* enjoyable-features start */
.enjoyable-features {
  display: flex;
  justify-content: space-between;
}
.enjoyable-features h1 {
  font-size: 35px;
  border-left: 4px solid #ff900e;
  padding-left: 12px;
}
.feature-tool {
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 22px 0;
  padding: 20px;
  border-radius: 8px;
}
.experience {
  color: #fff;
  background-color: #ff900e;
  height: 110px;
  width: 207px;
  left: -62px;
  top: -90px;
  border-radius: 8px;
  position: relative;
  padding: 10px 28px;
}
.experience h2 {
  font-size: 52px;
}
.experience h6 {
  font-size: 25px;
  text-align: center;
}
/* enjoyable-features end*/
.some-fact {
  margin: 10px 50px;
}
.some-fact h1 {
  font-size: 38px;
}
.some-fact p {
  margin: 8px 0 37px;
}
.about {
  display: flex;
  justify-content: center;
  gap: 83px;
}
.about div {
  border: 1px solid #ff900e;
  padding: 20px 40px;
  border-radius: 5px;
  text-align: center;
}
/* Sponspors section start */
.sponsors {
  margin: 100px 0;
}
.sponsors > div {
  text-align: center;
}
.sponsors > div h1 {
  font-size: 38px;
}
.sponsors > div p {
  margin: 20px 0;
}
.sponsors-img {
  display: flex;
  justify-content: space-between;
}

/* footer start */

footer {
  background-color: antiquewhite;
  text-align: center;
  padding: 30px 30px;
  margin: 80px 80px 20px;
}

/* responsive for mobile */
@media (width <668px) {
  .navbar {
    align-items: normal;
  }
  ul.page-options {
    flex-direction: column;
    gap: 10px;
  }
  #container {
    margin: 0 6px;
  }
  .img-sec {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .feature-details {
    flex-direction: column;
  }
  .enjoyable-features {
    flex-direction: column;
  }
  .enjoyable-features div img {
    width: 480px;
    text-align: center;
  }

  .experience {
    margin-left: 70px;
  }
  .about {
    flex-direction: column;
    gap: 25px;
  }
  .sponsors-img {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .sponsors-img img {
    width: 100px;
  }
}
